image EFI.vfat {
	vfat {}

	size = 16M
	srcpath = "output/images/efi-part"
}

image boot-a.vfat {
	vfat {}

	size = 32M
	srcpath = "output/images/boot-a-part"
}

image boot-b.vfat {
	vfat {}

	size = 32M
	srcpath = "output/images/boot-b-part"
}

image disk.img {
	hdimage {
		partition-table-type = "gpt"
	}

	partition EFI {
		image = "EFI.vfat"
		partition-type-uuid = esp
		offset = 32K
		bootable = true
	}

	partition boot-a {
		partition-type-uuid = fat32
		image = "boot-a.vfat"
	}

	# boot-b is an empty placeholder
	partition boot-b {
		partition-type-uuid = fat32
		image = "boot-b.vfat"
	}

	partition system-a {
		partition-type-uuid = root-x86-64
		image = "rootfs.ext4"
		size = 120M
	}

	# system-b is an empty placeholder
	partition system-b {
		partition-type-uuid = root-x86-64
		size = 120M
	}
}
