image EFI.vfat {
	vfat {
		file EFI/BOOT/BOOTX64.EFI {
			image = "efibootguard/efibootguardx64.efi"
		}
	}

	size = 16352K # 16MB - 32KB
}

image boot-a.vfat {
	vfat {}

	size = 128M
	srcpath = "output/images/boot-a-part"
}

# # boot-b is a placeholder
image boot-b.vfat {
	vfat {}

	size = 128M
	srcpath = "output/images/boot-b-part"
}

image disk.img {
	hdimage {
		partition-table-type = "gpt"
	}

	partition EFI {
		image = "EFI.vfat"
		partition-type-uuid = esp
		offset = 32K
		bootable = true
	}

	partition boot-a {
		partition-type-uuid = fat32
		image = "boot-a.vfat"
	}

	partition boot-b {
		partition-type-uuid = fat32
		image = "boot-b.vfat"
	}

	partition system-a {
		partition-type-uuid = root-x86-64
		image = "rootfs.ext4"
		size = 2G
	}

	# system-b is a placeholder
	partition system-b {
		partition-type-uuid = root-x86-64
		size = 2G
	}
}
